.user-page-delete-form {
  position: fixed;
  top: calc(50% - 125px);
  left: calc(50% - 300px);
  height: 250px;
  width: 600px;
  background-color: white;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-page-delete-form-choices {
  display: flex;
  gap: 2rem;
}

.user-page-delete-form-yes > button,
.user-page-delete-form-no > button {
  height: 60px;
  width: 180px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color: greenyellow;
  font-size: 1.6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-page-delete-form-yes > button:hover,
.user-page-delete-form-no > button:hover {
  background-color: blue;
  color: white;
}

.user-page-delete-form-err-message {
  height: 40px;
  color: red;
}

.black-overlay-delete {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

@media (max-width: 600px) {
  .user-page-delete-form {
    font-size: 1.5rem;
    text-align: center;
    top: 30%;
    left: 10%;
    height: 40%;
    width: 80%;
  }
  .user-page-delete-form-choices {
    flex-direction: column;
  }
  .user-page-delete-form-yes > button,
  .user-page-delete-form-no > button {
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
  }
}

