.log-in-form {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 2rem;
  flex: 1;
}

form {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px
}

.log-in-submit > button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  height: 60px;
  width: 200px;
  border-radius: 20px;
  border: none;
  background-color: greenyellow;
  font-size: 1.6rem;
}

.log-in-submit > button:hover {
  background-color: blue;
  color: white;
}
label {
  display: flex;
  flex-direction: column;
  width: 400px;
}

label > input {
  font-size: 2rem;
  border-radius: 10px;
  border: 1px solid rgb(80, 134, 0);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.log-in-err-msg {
  font-size: 1rem;
  min-height: 20px;
  color: red;
}

@media (max-width: 600px) {
  .log-in-form {
    font-size: 1.5rem;
    min-height: 80vh;
  }

  label {
    align-items: center;
    width: 100%;
  }
  label > input {
    width: 80%
  }
}