.user-page-update-form {
  position: fixed;
  top: 17%;
  left: 10%;
  height: 66%;
  width: 80%;
  background-color: white;
  z-index: 1002;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 20px;
}
.user-page-update-form > form {
  width: 100%;
}
.user-page-input,
.user-page-update-form-yes > button,
.user-page-update-form-no > button {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.user-page-input {
  resize: none;
  font-size: 2rem;
  border: 1px solid rgb(80, 134, 0);
  border-radius: 10px;
  width: 90%;
}

.user-page-update-form-choices {
  display: flex;
  gap: 1rem;
}

.user-page-update-form-yes > button,
.user-page-update-form-no > button {
  height: 60px;
  width: 180px;
  border-radius: 20px;
  border: none;
  background-color: greenyellow;
  font-size: 1.6rem;
  color: black;
}

.user-page-update-form-yes > button:hover,
.user-page-update-form-no > button:hover {
  background-color: blue;
  color: white;
}

.black-overlay-edit {
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100%;
  min-height: 100%;
  background-color: black;
  z-index: 1001;
  -moz-opacity: 0.8;
  opacity: .80;
  filter: alpha(opacity=80);
}

.user-page-err-message {
  min-height: 40px;
  color: red;
}
@media (max-width: 720px) {
  .user-page-update-form {
    top: 20%;
    height: 60%;
  }
}
@media (max-width: 600px) {
  .user-page-input {
    font-size: 1.2rem;
    height: 10em;
  }
  .user-page-update-form-choices {
    flex-direction: column;
  }
  .user-page-update-form-yes > button,
  .user-page-update-form-no > button {
    height: 40px;
    width: 150px;
    font-size: 1.2rem;
  }
}