.header {
  padding: 2.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  background-color: rgb(52, 45, 45);  
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-title,
.header-links,
.header-name {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.header-logs {
  display: flex;
}

.header-links,
.header-name {
  margin: 0 18px;
}

@media (max-width: 600px) {
  .header {
    font-size: 1rem;
    padding: 1.5rem;
  }
  .header-links,
  .header-name {
    margin: 0 6px;
  }
}