.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  min-height: 100vh;
  flex: 1;
  padding: 2rem 4rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.main-page-user-detail {
  font-weight: bold;
}
.main-page-messages-container {
  flex: 4;
  width: 100%;
  overflow-wrap: break-word;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.main-page-message-date {
  color: grey;
  font-size: 1.5rem;
}

.main-page-message-content {
  line-height: 1.2;
  color: rgb(0, 23, 84);
  
}

.main-page-message-content > a {
  text-decoration: none;
  color: rgb(9, 255, 0);
}